header {
    padding-left:25px;
    padding-right:25px;
    font-family: 'Dancing Script';
    font-style: bold;
    background-color: #85603F;
}

header h1 {
    color:#ffe88f;
    font-size: 25px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav {
    flex: 1;
    text-align: right;
    font-size: 25px;
}

nav ul {
    list-style:none;
}

nav ul li {
    display: inline; 
    margin: 0px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffe88f;
}

nav ul li a img {
    margin-top: 3px;
}