* {
    padding: 0;
    margin: 0;
}

caption{
    font-size: 25px;
}

.table-container {
    display: flex;
    width: 1440px;
    height: 732px;
}

.sub-container {
    margin: auto;
    background-color: #FFFEFA;
    box-shadow: 5px 5px 10px #888888;
}

td {
    padding: 50px;
}

caption{
    display: table-caption;
    text-align: center; 
}

.edit {
    margin-left: 30%;
    margin-bottom: 10%;
}