header {
    position: absolute;
    width: 100%;
    top: 0;
    color: black;
    z-index: 10;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;;
}

.container div:nth-of-type(2) {
    flex: 1;
}

nav {
    font-size: 25px;
    font-family: 'Catamaran';
    width:100%;
}

nav ul {
    display: flex;
    list-style:none;
    margin-left: auto;
    justify-content: flex-end;
}

nav ul li {
    margin: 0px 30px;
    border-radius: 20px;
    border: none;
    align-items: center;
}

nav ul li a {
    position: relative;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

nav ul li a:after {
    content:"";
    position: absolute;
    background-color: black;
    height: 2px;
    width: 0;
    left: 0px;
    bottom: -3px;
    transition: 0.3s;
}

nav ul li a:hover:after {
    width: 100%; 
}