* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Catamran', sans-serif;
}

h2 {
    font-family: 'Catamaran', sans-serif;
}

p {
    font-family: 'Telex', sans-serif;
}

a {
    font-family: 'Telex', sans-serif;
}

header {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: white;
}

.product-container {
    margin-top: 6%;
    background-color: white;
}

.product-container h1 {    
    text-align: left; 
    font-size: 50px;  
    margin-left: 5%;
    padding-top: 2%;
}

/* Category */

.categories h1 {     
    text-align: left; 
    font-size: 50px;  
    margin-left: 5%;
    padding-top: 2%;
}

.categories {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0 50px 0;
    margin-top: 10px;
    padding-bottom: 50px;
}

.categories a {
    text-decoration: none;
}

.categories div {
    display: flex;
    background-color: rgba(255, 255, 255, 0.148);
    margin-top: 50px;
}

.categories p {     
    font-size: 50px;
    width: 400px;
    height: 400px;
    text-align: center;
    color:white;
    position:relative;
}

.categories div:nth-of-type(1){
    background-image: url(../Images/Categories/assortment-pieces-cake\ \(1\).jpg);
    background-size: contain;
    border-radius: 500px;
}

.categories div:nth-of-type(2){
    background-image: url(../Images/Categories/close-up-view-black-bread-slices-nude-color-towel-spikes-flower-cutting-boards-mixed-colors-background\ \(1\).jpg);
    background-size: contain;
    border-radius: 500px;
}

.categories div:nth-of-type(3){
    background-image: url(../Images/Categories/croissant-flat-lay-food-photography.jpg);
    background-size: contain;
    border-radius: 500px;
}

.categories div:nth-of-type(1) p{
    top: 40%;
}

.categories div:nth-of-type(2) p{
    top: 40%;
}

.categories div:nth-of-type(3) p{
    top: 40%;
}

.category-section {
    padding-top: 2%;
    padding-bottom: 7%;
    background-color: white;
}

#breakfast-pastries{
    border-bottom: none;
}

/* Cakes */

.products h1 {
    margin-top: 5%;
}

.products1, .products2, .products3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 10rem;
    row-gap: 2rem;
    width: 80%;
    place-items: center;
    margin: auto;
    text-decoration: none;
}

.product {
    margin-top: 50px;
    background-color: #EDD0C0;
    color: #8e464e;
    border-radius: 10px;
    padding: 30px 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: 0.2s;
}

.product a {
    color: #8e464e;
    text-decoration: none;
}

.product:hover {
    background-color:#C8626D;
    color:#EDD0C0; 
}

.product p {
    margin-top: 10px;     
    font-size: 20px;
}

.product .buttons {
    display: flex;
    justify-content: space-around;
}

.product .buttons button {
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 700;
}

.product .buttons button:nth-child(1) {
    border: none;
    transition: 0.1s;
    background-color: white;
    color:#8e464e;
}

.product .buttons button:nth-child(1):hover {
    background-color:#EDD0C0;
}

.product .buttons button:nth-child(2) {
    border: none;
    transition: 0.1s;
    background-color: white;
    color:#8e464e;
}

.product .buttons button:nth-child(2):hover {
    background-color:#EDD0C0;
}


@media only screen and (max-width:700px) {

    body {
        width: 100%;
        margin: 0;
        width: 0;
    }

    .product-container {
        margin-top: 20%;
    }
    
    .product-container h1 {
        font-size: 20px;
    }

    .product-container h1:nth-of-type(1) {
        padding-top: 20%;
    }

    .categories {
        flex-wrap: wrap;
    } 

    .products {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
        gap: .2rem;
    }

    .product {
        width: 50%;
        height: 70%;
        margin: 10% auto;

    }

    .product img {
        width: 50%;
        height: 50%;
        margin-left: 23%;
    }

    .product p {
        font-size: 16px;
    }

    .products h2 {
        font-size: 20px;
        line-height: 20px;
    }

    .product .buttons button {
        padding: 10px 15px;
        border-radius: 30px;
        font-size: 12px;
        font-weight: 700;
    }


}