* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

header {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.product-container {
    margin-top: 7%;
    background-color: aliceblue;
}

.product-container h1 {
    font-family: 'Catamaran';
    text-align: left; 
    font-size: 50px;  
    margin-left: 5%;
    padding-top: 2%;
}

/* Category */

.categories h1 {
    font-family: 'Catamaran';
    text-align: left; 
    font-size: 50px;  
    margin-left: 5%;
    padding-top: 2%;
}

.categories {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0 50px 0;
    margin-top: 10px;
    border-bottom: 2px black solid;
    padding-bottom: 50px;
}

.categories a {
    text-decoration: none;
}

.categories div {
    display: flex;
    background-color: rgba(255, 255, 255, 0.148);
    margin-top: 50px;
}

.categories p {
    font-family: 'Catamaran';
    font-size: 50px;
    width: 400px;
    height: 400px;
    text-align: center;
    color:white;
    position:relative;
}

.categories div:nth-of-type(1){
    background-image: url(../Images/Categories/assortment-pieces-cake\ \(1\).jpg);
    background-size: contain;
    border-radius: 500px;
}

.categories div:nth-of-type(2){
    background-image: url(../Images/Categories/close-up-view-black-bread-slices-nude-color-towel-spikes-flower-cutting-boards-mixed-colors-background\ \(1\).jpg);
    background-size: contain;
    border-radius: 500px;
}

.categories div:nth-of-type(3){
    background-image: url(../Images/Categories/croissant-flat-lay-food-photography.jpg);
    background-size: contain;
    border-radius: 500px;
}

.categories div:nth-of-type(1) p{
    top: 40%;
}

.categories div:nth-of-type(2) p{
    top: 40%;
}

.categories div:nth-of-type(3) p{
    top: 40%;
}

.category-section {
    padding-top: 2%;
    padding-bottom: 7%;
    background-color: aliceblue;
    border-bottom: 2px black solid;
}

#breakfast-pastries{
    border-bottom: none;
}

/* Cakes */

.products h1 {
    margin-top: 5%;
}

.products {
    display:flex;
    justify-content: space-evenly;
}

.products a {
    text-decoration: none;
    color: black;
}

.product {
    margin-top: 50px;
    background-color: rgb(238, 218, 182);
    border-radius: 10px;
    padding: 30px 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: 0.2s;
}

.product:hover {
    background-color:rgb(229, 196, 134) ;
}

.product h2 {
    font-family: 'Catamaran';
}

.product p {
    margin-top: 10px;
    font-family: 'Telex';
    font-size: 20px;
}

.product .buttons {
    display: flex;
    justify-content: space-around;
}

.product .buttons button {
    padding: 15px 30px;
    border-radius: 30px;
    font-family:'Catamaran';
    font-size: 16px;
    font-weight: 700;;
}

.product .buttons button:nth-child(1) {
    border: none;
    transition: 0.1s;
    background-color: white;
}

.product .buttons button:nth-child(1):hover {
    border: 2px solid black;
}

.product .buttons button:nth-child(2) {
    background: none;
    transition: 0.1s;
}

.product .buttons button:nth-child(2):hover {
    background: white;
}