* {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Catamran', sans-serif;
}

h2 {
    font-family: 'Catamaran', sans-serif;
}

p {
    font-family: 'Telex', sans-serif;
}

th {
    font-family: 'Catamran', sans-serif;
}

body {
    background-color: white;
}

header {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: white;
}

caption{
    font-size: 25px;
    display: table-caption;
    text-align: center;
}

.table-container {
    display: flex;
    width: 100%;
}

.sub-container {
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}

tr td:nth-of-type(2) {
    padding-left: 70px; 
}

td {
    text-align: center;
    padding: 50px;     
    font-size: 20px;
    border-bottom: 1px solid black;
    font-family: 'Telex', sans-serif;
}

.buttons {
    margin: auto;
}

.buttons button {
    padding: 15px 30px;    
    transition: 0.2s;
    margin-top: 5%;
    margin-bottom: 5%;
    border: solid 1px black;
}

.buttons a:nth-of-type(1) button {
    border-radius: 30px;
    background-color: white;
    color: black;
}

.buttons a:nth-of-type(1) button:hover {
    border-radius: 30px;
    background-color:black;
    color: white;
}

.buttons a:nth-of-type(2) button {
    border-radius: 30px;
    background-color:black;
    color: white;
}

.buttons a:nth-of-type(2) button:hover {
    border-radius: 30px;
    background-color:white;
    color: black;
}

.del {
    /* background: none;
    border:none; */
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
    margin-bottom: 2rem;
}

/* responsive */

@media only screen and (max-width:700px) {

    .table-container{
        padding-top: 30%;
        height: 60vh;
    }

    caption {
        font-size: 16px;
    }

    td {
        font-size: 16px;
        padding: 10px;
    }

    .buttons {
        margin-left: 28%;
    }
}