* {
    padding: 0;
    margin: 0;
}

body {
    background-color: aliceblue;
}

header {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: white;
}

.form-container {
    display: flex;
    margin-bottom: 5%;
}

form {
    display: flex;
    flex-direction: column;
    width: 450px;
    border-radius: 10px;
    margin: 13% auto auto auto;
    background:  white;
    padding: 5px 5px 20px 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

form img {
    margin: auto;
}

form h1 {
    text-align: center;
    font-family:'Catamaran';
}

form label {
    font-family: 'Telex';
    font-size: 18px;
    font-weight: 700;
    margin-left: 37px;
}

form input {
    appearance: none;
    background: none;
    margin: 10px 0 0 37px;
    border:none;
    border-bottom: 2px solid black;
    width: 365px;
    padding: 5px;
}

form input:focus {
    outline: none;
}

form div:nth-of-type(3) {
    display: flex;
}

form button {
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 10px;;
    padding: 7px 90px;
    transition: 0.2s;
}

form button:hover {
    background-color: black;
    color: white;
}

form a {
    margin: auto;
    font-family: 'Telex';
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
    color: black;
}